*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: aliceblue;
}
.player-score-container{
    margin-top: 20px;
    display: flex;
}
.player-0,.player-1{
    text-align: center;
    font-size: 25px;
    position: absolute;
}
.player-0{
    margin-left: 20%;
}
.player-1{
    margin-left: 63%;
}
.player-0-header{
    color: royalblue;
}
.player-1-header{
    color: rgb(218, 20, 20);
}
.container{
    margin-top: 5%;
    margin-left: 480px;
    width: 460px;
}
.header{
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
    
}
.container-btn{
    display: flex;
    flex-wrap: wrap; 
}
.btn{
    width: 150px;
    height: 150px;
    display: block;
    background-color: rosybrown;
    font-size: 60px;
    outline: none;
}
.btn:hover{
    background-color: rgb(245, 137, 137);
    border-radius: 10px;
}
.btn-restart{
    width: 200px;
    height: 70px;
    margin-top: 30px;
    margin-left: 600px;
    background-color: thistle;
    border-radius: 40px;
    color: rgb(202, 84, 63);
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
.btn-restart:hover{
    background-color: rgb(245, 137, 137);;
}
.winner {
     color: rgb(236, 236, 74); 
     border-radius: 30px;
}
#draw-id{
    margin-left: 45%;
    font-size: 30px;
}
